#tsparticles {
    height: 85vh;
    width: 100vw;
    margin-top: -72px;
    
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #tsparticles {
            height: 60vh;
            width: 100vw;
            margin-top: -72px;
           
        }
}
@media only screen and (max-width: 600px) {
    #tsparticles {
            height: 60vh;
            width: 100vw;
            margin-top: -72px;
            
        }
}